		</div>
	</main>
	<div class="modal" id="modal-company" style="background-image:url(i/modal-company.jpg)">
		<a href="#" class="modal__close" data-fancybox-close></a>
		<div class="modal-header">
			<div class="modal-header__logo">
				<img src="i/logo-second.png" alt="Дарнит-2">
			</div>
			<div class="modal-header__info">
				<a href="tel:+74952692059" class="modal-header__info-phone">8 (495) 269-20-59</a>
				<address class="modal-header__info-address">
					г. Москва, ул. Каланчёвская, 16, стр. 1 (БЦ Каланчевская Плаза)
				</address>
			</div>
		</div>
		<div class="modal-content">
			<div class="modal-content__title">О компании</div>
			<div class="modal-content__text">
				<p>Обустройство дорог, площадей, парковок и дворовых территорий чаще всего осуществляется с применением технологии асфальтирования. При этом для качественного исполнения работ необходимо не только использование добротного материала, но и четкое соблюдение всех установленных технологических процессов. Дорожно-строительная компания ООО «Дарнит 2» в полной мере понимает всю ответственность осуществляемых работ и гарантирует качественный результат.</p>
				<p>Всем прекрасно известно, что сегодня в данном сегменте рынка услуг присутствует достаточно высокая конкуренция. Но формируется он в подавляющем своем из небольших фирмочек или даже мобильных бригад, которые не только не несут ни какой ответственности за свои труды, но и не имеют достаточного опыта в асфальтировании.</p>
				<p>Наша дорожная компания уже более 25 лет активно работает в данной области и заслужила огромное уважение не только среди партнеров по бизнесу конкурентов, но и среди заказчиков, многие из которых стали нашими постоянными клиентами. Все наши сотрудники в обязательном порядке проходят специализированные курсы, тренинги, семинары в своих профильных областях, следят за современными технологиями и материалами. Высокие профессиональные навыки, серьезная теоретическая подготовка и немалый практический опыт позволяют нашим специалистам решать самые сложные и нестандартные задачи.</p>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#modal-company" class="modal-footer__link js-modal-link">Компания</a>
			<a href="#modal-works" class="modal-footer__link js-modal-link">Виды работ</a>
			<a href="#modal-carpark" class="modal-footer__link js-modal-link">Спецтехника</a>
			<a href="#modal-objects" class="modal-footer__link js-modal-link">Объекты</a>
			<a href="#modal-documents" class="modal-footer__link js-modal-link">Лицензии</a>
			<a href="#modal-contacts" class="modal-footer__link js-modal-link">Контакты</a>
		</div>
	</div>
	<div class="modal" id="modal-works" style="background-image:url(i/modal-company.jpg)">
		<a href="#" class="modal__close" data-fancybox-close></a>
		<div class="modal-header">
			<div class="modal-header__logo">
				<img src="i/logo-second.png" alt="Дарнит-2">
			</div>
			<div class="modal-header__info">
				<a href="tel:+74952692059" class="modal-header__info-phone">8 (495) 269-20-59</a>
				<address class="modal-header__info-address">
					г. Москва, ул. Каланчёвская, 16, стр. 1 (БЦ Каланчевская Плаза)
				</address>
			</div>
		</div>
		<div class="modal-content">
			<div class="modal-content__title">Виды работ</div>
			<div class="modal-content__text">
				<p>Обустройство дорог, площадей, парковок и дворовых территорий чаще всего осуществляется с применением технологии асфальтирования. При этом для качественного исполнения работ необходимо не только использование добротного материала, но и четкое соблюдение всех установленных технологических процессов. Дорожно-строительная компания ООО «Дарнит 2» в полной мере понимает всю ответственность осуществляемых работ и гарантирует качественный результат.</p>
				<p>Всем прекрасно известно, что сегодня в данном сегменте рынка услуг присутствует достаточно высокая конкуренция. Но формируется он в подавляющем своем из небольших фирмочек или даже мобильных бригад, которые не только не несут ни какой ответственности за свои труды, но и не имеют достаточного опыта в асфальтировании.</p>
				<p>Наша дорожная компания уже более 25 лет активно работает в данной области и заслужила огромное уважение не только среди партнеров по бизнесу конкурентов, но и среди заказчиков, многие из которых стали нашими постоянными клиентами. Все наши сотрудники в обязательном порядке проходят специализированные курсы, тренинги, семинары в своих профильных областях, следят за современными технологиями и материалами. Высокие профессиональные навыки, серьезная теоретическая подготовка и немалый практический опыт позволяют нашим специалистам решать самые сложные и нестандартные задачи.</p>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#modal-company" class="modal-footer__link js-modal-link">Компания</a>
			<a href="#modal-works" class="modal-footer__link js-modal-link">Виды работ</a>
			<a href="#modal-carpark" class="modal-footer__link js-modal-link">Спецтехника</a>
			<a href="#modal-objects" class="modal-footer__link js-modal-link">Объекты</a>
			<a href="#modal-documents" class="modal-footer__link js-modal-link">Лицензии</a>
			<a href="#modal-contacts" class="modal-footer__link js-modal-link">Контакты</a>
		</div>
	</div>
	<div class="modal" id="modal-carpark" style="background-image:url(i/modal-company.jpg)">
		<a href="#" class="modal__close" data-fancybox-close></a>
		<div class="modal-header">
			<div class="modal-header__logo">
				<img src="i/logo-second.png" alt="Дарнит-2">
			</div>
			<div class="modal-header__info">
				<a href="tel:+74952692059" class="modal-header__info-phone">8 (495) 269-20-59</a>
				<address class="modal-header__info-address">
					г. Москва, ул. Каланчёвская, 16, стр. 1 (БЦ Каланчевская Плаза)
				</address>
			</div>
		</div>
		<div class="modal-content">
			<div class="modal-content__title">Спецтехника</div>
			<div class="modal-content__text">
				<p>Обустройство дорог, площадей, парковок и дворовых территорий чаще всего осуществляется с применением технологии асфальтирования. При этом для качественного исполнения работ необходимо не только использование добротного материала, но и четкое соблюдение всех установленных технологических процессов. Дорожно-строительная компания ООО «Дарнит 2» в полной мере понимает всю ответственность осуществляемых работ и гарантирует качественный результат.</p>
				<p>Всем прекрасно известно, что сегодня в данном сегменте рынка услуг присутствует достаточно высокая конкуренция. Но формируется он в подавляющем своем из небольших фирмочек или даже мобильных бригад, которые не только не несут ни какой ответственности за свои труды, но и не имеют достаточного опыта в асфальтировании.</p>
				<p>Наша дорожная компания уже более 25 лет активно работает в данной области и заслужила огромное уважение не только среди партнеров по бизнесу конкурентов, но и среди заказчиков, многие из которых стали нашими постоянными клиентами. Все наши сотрудники в обязательном порядке проходят специализированные курсы, тренинги, семинары в своих профильных областях, следят за современными технологиями и материалами. Высокие профессиональные навыки, серьезная теоретическая подготовка и немалый практический опыт позволяют нашим специалистам решать самые сложные и нестандартные задачи.</p>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#modal-company" class="modal-footer__link js-modal-link">Компания</a>
			<a href="#modal-works" class="modal-footer__link js-modal-link">Виды работ</a>
			<a href="#modal-carpark" class="modal-footer__link js-modal-link">Спецтехника</a>
			<a href="#modal-objects" class="modal-footer__link js-modal-link">Объекты</a>
			<a href="#modal-documents" class="modal-footer__link js-modal-link">Лицензии</a>
			<a href="#modal-contacts" class="modal-footer__link js-modal-link">Контакты</a>
		</div>
	</div>
	<div class="modal" id="modal-objects" style="background-image:url(i/modal-company.jpg)">
		<a href="#" class="modal__close" data-fancybox-close></a>
		<div class="modal-header">
			<div class="modal-header__logo">
				<img src="i/logo-second.png" alt="Дарнит-2">
			</div>
			<div class="modal-header__info">
				<a href="tel:+74952692059" class="modal-header__info-phone">8 (495) 269-20-59</a>
				<address class="modal-header__info-address">
					г. Москва, ул. Каланчёвская, 16, стр. 1 (БЦ Каланчевская Плаза)
				</address>
			</div>
		</div>
		<div class="modal-content">
			<div class="modal-content__title">Объекты</div>
			<div class="modal-content__text">
				<p>Обустройство дорог, площадей, парковок и дворовых территорий чаще всего осуществляется с применением технологии асфальтирования. При этом для качественного исполнения работ необходимо не только использование добротного материала, но и четкое соблюдение всех установленных технологических процессов. Дорожно-строительная компания ООО «Дарнит 2» в полной мере понимает всю ответственность осуществляемых работ и гарантирует качественный результат.</p>
				<p>Всем прекрасно известно, что сегодня в данном сегменте рынка услуг присутствует достаточно высокая конкуренция. Но формируется он в подавляющем своем из небольших фирмочек или даже мобильных бригад, которые не только не несут ни какой ответственности за свои труды, но и не имеют достаточного опыта в асфальтировании.</p>
				<p>Наша дорожная компания уже более 25 лет активно работает в данной области и заслужила огромное уважение не только среди партнеров по бизнесу конкурентов, но и среди заказчиков, многие из которых стали нашими постоянными клиентами. Все наши сотрудники в обязательном порядке проходят специализированные курсы, тренинги, семинары в своих профильных областях, следят за современными технологиями и материалами. Высокие профессиональные навыки, серьезная теоретическая подготовка и немалый практический опыт позволяют нашим специалистам решать самые сложные и нестандартные задачи.</p>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#modal-company" class="modal-footer__link js-modal-link">Компания</a>
			<a href="#modal-works" class="modal-footer__link js-modal-link">Виды работ</a>
			<a href="#modal-carpark" class="modal-footer__link js-modal-link">Спецтехника</a>
			<a href="#modal-objects" class="modal-footer__link js-modal-link">Объекты</a>
			<a href="#modal-documents" class="modal-footer__link js-modal-link">Лицензии</a>
			<a href="#modal-contacts" class="modal-footer__link js-modal-link">Контакты</a>
		</div>
	</div>
	<div class="modal" id="modal-documents" style="background-image:url(i/modal-company.jpg)">
		<a href="#" class="modal__close" data-fancybox-close></a>
		<div class="modal-header">
			<div class="modal-header__logo">
				<img src="i/logo-second.png" alt="Дарнит-2">
			</div>
			<div class="modal-header__info">
				<a href="tel:+74952692059" class="modal-header__info-phone">8 (495) 269-20-59</a>
				<address class="modal-header__info-address">
					г. Москва, ул. Каланчёвская, 16, стр. 1 (БЦ Каланчевская Плаза)
				</address>
			</div>
		</div>
		<div class="modal-content">
			<div class="modal-content__title">Лицензии</div>
			<div class="modal-content__text">
				<p>Обустройство дорог, площадей, парковок и дворовых территорий чаще всего осуществляется с применением технологии асфальтирования. При этом для качественного исполнения работ необходимо не только использование добротного материала, но и четкое соблюдение всех установленных технологических процессов. Дорожно-строительная компания ООО «Дарнит 2» в полной мере понимает всю ответственность осуществляемых работ и гарантирует качественный результат.</p>
				<p>Всем прекрасно известно, что сегодня в данном сегменте рынка услуг присутствует достаточно высокая конкуренция. Но формируется он в подавляющем своем из небольших фирмочек или даже мобильных бригад, которые не только не несут ни какой ответственности за свои труды, но и не имеют достаточного опыта в асфальтировании.</p>
				<p>Наша дорожная компания уже более 25 лет активно работает в данной области и заслужила огромное уважение не только среди партнеров по бизнесу конкурентов, но и среди заказчиков, многие из которых стали нашими постоянными клиентами. Все наши сотрудники в обязательном порядке проходят специализированные курсы, тренинги, семинары в своих профильных областях, следят за современными технологиями и материалами. Высокие профессиональные навыки, серьезная теоретическая подготовка и немалый практический опыт позволяют нашим специалистам решать самые сложные и нестандартные задачи.</p>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#modal-company" class="modal-footer__link js-modal-link">Компания</a>
			<a href="#modal-works" class="modal-footer__link js-modal-link">Виды работ</a>
			<a href="#modal-carpark" class="modal-footer__link js-modal-link">Спецтехника</a>
			<a href="#modal-objects" class="modal-footer__link js-modal-link">Объекты</a>
			<a href="#modal-documents" class="modal-footer__link js-modal-link">Лицензии</a>
			<a href="#modal-contacts" class="modal-footer__link js-modal-link">Контакты</a>
		</div>
	</div>
	<div class="modal" id="modal-contacts" style="background-image:url(i/modal-company.jpg)">
		<a href="#" class="modal__close" data-fancybox-close></a>
		<div class="modal-header">
			<div class="modal-header__logo">
				<img src="i/logo-second.png" alt="Дарнит-2">
			</div>
			<div class="modal-header__info">
				<a href="tel:+74952692059" class="modal-header__info-phone">8 (495) 269-20-59</a>
				<address class="modal-header__info-address">
					г. Москва, ул. Каланчёвская, 16, стр. 1 (БЦ Каланчевская Плаза)
				</address>
			</div>
		</div>
		<div class="modal-content">
			<div class="modal-content__title">Контакты</div>
			<div class="modal-content__text">
				<p>Обустройство дорог, площадей, парковок и дворовых территорий чаще всего осуществляется с применением технологии асфальтирования. При этом для качественного исполнения работ необходимо не только использование добротного материала, но и четкое соблюдение всех установленных технологических процессов. Дорожно-строительная компания ООО «Дарнит 2» в полной мере понимает всю ответственность осуществляемых работ и гарантирует качественный результат.</p>
				<p>Всем прекрасно известно, что сегодня в данном сегменте рынка услуг присутствует достаточно высокая конкуренция. Но формируется он в подавляющем своем из небольших фирмочек или даже мобильных бригад, которые не только не несут ни какой ответственности за свои труды, но и не имеют достаточного опыта в асфальтировании.</p>
				<p>Наша дорожная компания уже более 25 лет активно работает в данной области и заслужила огромное уважение не только среди партнеров по бизнесу конкурентов, но и среди заказчиков, многие из которых стали нашими постоянными клиентами. Все наши сотрудники в обязательном порядке проходят специализированные курсы, тренинги, семинары в своих профильных областях, следят за современными технологиями и материалами. Высокие профессиональные навыки, серьезная теоретическая подготовка и немалый практический опыт позволяют нашим специалистам решать самые сложные и нестандартные задачи.</p>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#modal-company" class="modal-footer__link js-modal-link">Компания</a>
			<a href="#modal-works" class="modal-footer__link js-modal-link">Виды работ</a>
			<a href="#modal-carpark" class="modal-footer__link js-modal-link">Спецтехника</a>
			<a href="#modal-objects" class="modal-footer__link js-modal-link">Объекты</a>
			<a href="#modal-documents" class="modal-footer__link js-modal-link">Лицензии</a>
			<a href="#modal-contacts" class="modal-footer__link js-modal-link">Контакты</a>
		</div>
	</div>
	<script>window.jQuery || document.write('<script src="js/jquery.js"><\/script>')</script>
	<script src="js/plugins.js"></script>
	<script src="js/main.js"></script>
</body>
</html>