<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<title>Дарнит2</title>
	<link href="css/plugins.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
</head>
<body>
	<header class="header">
		<div class="container">
			<a href="#" class="header__logo"><img src="i/logo.png" alt=""></a>
			<a href="#" class="header__menu js-menu"><span></span></a>
		</div>
	</header>
	<div class="nav">
		<div class="nav-wrap">
			<nav class="nav-main">
				<a href="#modal-company" class="nav-main__item js-nav-item">Компания</a>
				<a href="#modal-works" class="nav-main__item js-nav-item">Виды работ</a>
				<a href="#modal-carpark" class="nav-main__item js-nav-item">Спецтехника</a>
				<a href="#modal-objects" class="nav-main__item js-nav-item">Объекты</a>
				<a href="#modal-documents" class="nav-main__item js-nav-item">Лицензии</a>
				<a href="#modal-contacts" class="nav-main__item js-nav-item">Контакты</a>
			</nav>
			<a href="tel:+74952692059" class="nav-phone">8 (495) 269-20-59</a>
			<address class="nav-address">
				г. Москва, ул. Каланчёвская, 16, стр. 1 (БЦ Каланчевская Плаза)
			</address>
			<div class="nav-copyright">&copy; 2019 Дарнит 2</div>
		</div>
	</div>
	<main class="main">
		<div class="container">